img{
    display: block;
    margin: 0 auto;
    max-width: 75%;
    /* clip-path: circle(30% at 80% 30%); */
    /* clip-path: ellipse(30% 30% at 25% 25%); */
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}